.aligned {
	padding: 0 25%;
}

li.toctree-l1 {
	list-style: none !important;
}

.mi-clase-css {
	/* color: red; */
	text-decoration: underline;
}

details.admonition-haga-click-aqui-para-ver-la-solucion {
	background-color: #FCFCFC !important;
	cursor: pointer !important;
}

summary.admonition-title {
	background: #07cb79 !important;
}

.admonition  {
	padding: 1rem 0!important;
}