.aligned {
	padding: 0 25%;
}

.mi-clase-css {
	/* color: red; */
	text-decoration: underline;
}

.admonition-haga-click-aqui-para-ver-la-solucion .admonition {
	background-color: #FCFCFC;
	cursor: pointer;
}

.admonition-title {
	background: #07cb79;
}